body{font-family:'Voces',cursive;font-size-adjust:.5;font-weight:200;font-style:normal;padding-top:50px;padding-bottom:20px}
h1,h2,h3,h4,h5,h6{font-family:"Monosten A",Courier,monospace;font-size-adjust:.5;font-weight:bold;font-style:normal}
.row-circles{margin-top:2em;}
.row-circles .columns{margin-bottom:1.875em}
.row-circles .circle{text-align:center;margin:0 1em;position:relative;min-height:100px;}
.row-circles .circle .avatar{width:100px;height:auto;-webkit-border-radius:50%;border-radius:50%;position:absolute;top:0;left:0}
.row-circles .circle .name{font-size:1.5em;font-family:"Monosten A",Courier,monospace;line-height:1.6;margin:0 0 0 110px;padding:24px 0 0}
.row-circles .circle .description{margin:0 0 0 110px}
.row-blog-previews .read-more{color:#2fbdb6}
@media (max-width: 767px){.row-circles .columns .avatar,.row-circles .circle .avatar{width:100px;height:auto;-webkit-border-radius:50%;border-radius:50%;position:relative}
.row-circles .columns .name,.row-circles .circle .name{margin:0;padding:0}
.row-circles .columns .description,.row-circles .circle .description{margin:0}
}