{{> partials/html_head}}
  <!-- header start -->
  <header id="header" class="header bg-yellow">
    <div class="container">
      <nav>
        <ul>
          <li><a href="post.html">About</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="team.html">Team</a></li>
          <li><a href="post.html">Blog</a></li>
        </ul>
      </nav>
      <h1 class="logo">
        <a href="http://9vo.lt" title="9vo.lt"><img src="../img/logo-9volt-text.png" alt="9vo.lt logo"></a>
      </h1>
    </div>
  </header>
  <!-- header end -->

  <div class="hero bg-green">
    <div class="container">
      <div class="content">
        <p>_hi.<br>we are 9volt.<br>a collective of creative<br>programmers and designers</p>
        <a href="post.html" class="readmore btn btn-white">READ MORE</a>
      </div>
    </div>
  </div>

  <!-- container start -->
  <div class="container" id="container">
    <h2 class="title">PROJECTS</h2>
    <div class="blocks">
      {{#each data.repeat6}}
      <div class="block"><a href="article.html"><img src="../images/thumbnail.png" alt="Project"></a></div>
      {{/each}}
      <div class="clearfix"></div>
      <a href="projects.html" class="more btn btn-green">VIEW MORE</a>
    </div>
  </div>
  <!-- container end -->

  {{> partials/footer}}
{{> partials/html_footer}}
