{{> partials/html_head}}
  {{> partials/header}}

  <!-- container start -->
  <div class="container" id="container">
  </div>
  <!-- container end -->

  {{> partials/footer}}
{{> partials/html_footer}}
