<!-- footer start -->
<footer class="footer bg-green" id="footer">
  <div class="container container-logo">
    <div class="logo"><a href="http://9vo.lt"><img src="../img/logo-9volt.png" alt="logo 9volt"></a></div>
  </div>
  <div class="container">
    <div class="content">_get in touch: <a href="mailto:hi@9vo.lt">hi@9vo.lt</a></div>
  </div>
</footer>
<!-- footer end -->
