<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{data.title}}</title>

  {{! <link rel="stylesheet" href="//f.fontdeck.com/s/css/0YqsPiW6g63C2r0wLfl2RFAC0Vc/DOMAIN_NAME/39436.css" type="text/css" /> }}

  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
