<!-- header start -->
<header id="header" class="header bg-{{ include.page_bg }}">
  <div class="container">
    <h1 class="logo">
      <a href="{{ site.baseurl }}/" title="9vo.lt"><img src="{{ site.baseurl }}/img/logo-9volt-text.png" alt="9vo.lt header logo"></a>
    </h1>
    <nav>
      <ul>
        <li><a {% if include.active_menu == "about" %}class="active"{% endif %} href="{{ site.baseurl }}/about.html">About</a></li>
        <li><a {% if include.active_menu == "projects" %}class="active"{% endif %} href="{{ site.baseurl }}/projects.html">Projects</a></li>
        <li><a {% if include.active_menu == "team" %}class="active"{% endif %} href="{{ site.baseurl }}/team.html">Team</a></li>
        <li><a {% if include.active_menu == "blog" %}class="active"{% endif %} href="{{ site.baseurl }}/blog.html">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- header end -->
