// Responsive up to 480px
/////////////////////////

@media (max-width: 480px)
  body
    min-width 320px

  #header
    float none
    width 100%
    >.wrapper
      padding 25px 0
      a.logo
        display block
        size 137px 137px
        margin 0 auto
      nav
        margin 30px 0
        ul
          list-style none
          margin 0
          padding 0
          li
            display block
            border-top 1px solid $green
            padding 6px 20px
            &:last-child
              border-bottom 1px solid $green
            &:before,
            &:hover:before
            &.active:before
              display none
            a
              display block
              font-size 18px
              &:hover
                color $red

  #container
    margin 0
    // Portofolio
    .container-portofolio
      .item
        width 100%
        .icons
          left 10px
          display block
