// Utilities
////////////

.icon
  size 25px 25px
  display: inline-block
  background-position 50% 50%
  background-repeat no-repeat
  &.icon-circle
    size 44px 44px
    background-color $red
    border-radius 22px
  &.icon-post
    background-image url(../img/icon-post.png)
  &.icon-link
    background-image url(../img/icon-link.png)
  &.icon-quote
    background-image url(../img/icon-quote.png)
  &.icon-video
    background-image url(../img/icon-video.png)
  &.icon-image
    background-image url(../img/icon-image.png)

.table
  display table
  height 100%
  .cell
    display table-cell
    vertical-align middle
    .vcentered
      margin 0 auto
