// Responsive 1200px to max
///////////////////////////

@media (min-width: 1200px)
  //

/*************************
*************************
  This is an impicit style
**************************
**************************/


/*************************
  Container size
**************************/
.container
  width 1162px
  margin 0 auto

/*************************
  Header
**************************/
.header
  height 92px
  .logo
    margin 0
    padding 30px 0 0
    float left
    img
      height 29px
      width auto
  nav
    text-transform uppercase
    ul
      float right
      display inline-block
      margin 0
      padding 38px 0 0
      list-style none
      white-space nowrap
      font-size 1.1em
      li
        display: inline-block
        padding 0 0 0 2em
        a
          text-decoration none

/*************************
  Hero unit
**************************/
.hero
  padding 5em 0
  .container
    line-height 1.25
    p
      margin 0
      padding 0
    a.readmore
      margin 1.2em 0 0

/*************************
  title
**************************/
.title
  text-align center
  font-size 1.4em
  padding 0.8em 0 0.6em

/*************************
  Blocks
**************************/
.blocks
  &:after
    content ""
    display: block
    clear both
  .block
    float left
    width 31.3%
    margin 0 3% 3% 0
    &:nth-child(3n)
      margin-right 0
    a
      display block
      img
        width 100%
        height auto
  .more
    font-size 1.1em

/*************************
  Text content
**************************/
.text-content
  width 70%
  margin 0 auto
  p
    padding 0.4em 0
    font-size 1.1em
    line-height 1.5
    img
      max-width 100%
      height auto
  h3
    text-align center
    color $green
    font-size 1.5em
  .prev
    float left

/*************************
  Footer
**************************/
.footer
  margin 33px 0 0
  height 160px
  .container-logo
    position relative
  &:after
    content ""
    display: block
    clear both
  .logo
    position: absolute
    top 0
    right 0
    margin 28px 0 0
    img
      width 100px
  .content
    text-align center
    padding 77px 0 0
    a
      color $white
      text-decoration underline
      &:hover
        text-decoration none
