/*************************
	Imports

	NOTE: nib documentation http://www.fontsquirrel.com/tools/webfont-generator
**************************/

// System imports
@import "nib"

@import "normalize"

$white = #fff
$yellow = #fffdf2
$green = #3bbdb5
$red = #ef4a48
$blueDark = #15123f
$black = #000

body
  font-family: "Monosten", Courier, monospace;
  font-size-adjust: 0.5;
  font-weight: 200;
  font-style: normal;
  background $white
  color $black
  font-size 1em


h1, h2, h3, h4, h5, h6, b, strong
  font-family:"Monosten", Courier, monospace;
  font-size-adjust:0.5;
  font-weight:bold;
  font-style:normal;

a
  color $green


// @import "responsive-768px-991px" // implicit style
// @import "responsive-1200px-max"
// @import "responsive-992px-1199px"
// @import "responsive-min-767px"
// @import "responsive-min-480px"

/*************************
	DOM
**************************/
.container
  width 1162px
  margin 0 auto

.clearfix
  clearfix()

.pull-left
  float left

.pull-right
  float right

.bg-white
  background $white
  color $black
  a
    color $green
    &.hover, &.active, &:hover
      color $red

.bg-white
  background $yellow
  color $black
  a
    color $green
    &.hover, &.active, &:hover
      color $red

.bg-green
  background $green
  color $white
  a
    color $black
    &.hover, &.active, &:hover
      color $white

.bg-red
  background $red
  color $black
  a
    color $white
    &.hover, &.active, &:hover
      color $green

.btn
  display inline-block
  padding 0.6em 0.7em 0.3em
  text-decoration none
  font-size 1.2em

.btn-white
  background $white
  color $blueDark
  &:hover
    background $red
    color $white

.btn-green
  background $green
  color $white
  &:hover
    background $red
    color $white

.header
  height 92px
  .logo
    margin 0
    padding 34px 0 0
    img
      height 29px
      width auto
  nav
    text-transform uppercase
    ul
      float right
      display inline-block
      margin 0
      padding 43px 0 0
      list-style none
      white-space nowrap
      li
        display: inline-block
        padding 0 0 0 2em
        a
          text-decoration none

.hero
  padding 5em 0
  .container
    line-height 1.25
    p
      margin 0
      padding 0
    a.readmore
      margin 1.2em 0 0
      padding 0.4em 0.7em 0.2em

.title
  text-align center
  font-size 1.4em
  padding 0.8em 0 0.6em

.blocks
  &:after
    content ""
    display: block
    clear both
  .block
    float left
    width 31.3%
    margin 0 3% 3% 0
    &:nth-child(3n)
      margin-right 0
    a
      display block
      img
        width 100%
        height auto
  .more
    font-size 1.1em
    padding 0.6em 0.7em 0.3em

.text-content
  width 70%
  margin 0 auto
  p
    padding 0.4em 0
    font-size 1.1em
    line-height 1.5
    img
      max-width 100%
      height auto
  h3
    text-align center
    color $green
    font-size 1.5em
  .prev
    float left

.footer
  margin 33px 0 0
  height 160px
  &:after
    content ""
    display: block
    clear both
  .logo
    float right
    margin 28px 0 0
    img
      width 100px
  .content
    text-align center
    padding 77px 0 0
    a
      color $white
      text-decoration underline
      &:hover
        text-decoration none


