.clearfix
  clearfix()

.pull-left
  float left

.pull-right
  float right

.bg-white
  background $white
  color $black
  a
    color $green
    &.hover, &.active, &:hover
      color $red

.bg-white
  background $yellow
  color $black
  a
    color $green
    &.hover, &.active, &:hover
      color $red

.bg-green
  background $green
  color $white
  a
    color $black
    &.hover, &.active, &:hover
      color $white

.bg-red
  background $red
  color $black
  a
    color $white
    &.hover, &.active, &:hover
      color $green

.btn
  display inline-block
  padding 0.3em 0.7em 0.3em
  text-decoration none
  font-size 1.2em

.btn-white
  background $white
  color $blueDark
  &:hover
    background $red
    color $white

.btn-green
  background $green
  color $white
  &:hover
    background $red
    color $white
